* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#navbar {
    background: linear-gradient(pink, white, pink);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navbar a {
    text-decoration: none;
    color: #625448;
    padding: 24px;
}

#navbar img {
    width: 100px;
}

#navbar #logo {
    margin-right: auto;
}

#navbar .cta-button {
    background-color: pink;
    color: #625448;
    border-radius: 36px;
    padding: 16px 24px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    min-width: 150px;
}