/*
    NOTE TO STUDENTS: 

    This is the file you should be writing your CSS in 
    for the assignment.

    Good luck, and have fun!
*/

h2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border: 10px solid black;
    background-color: antiquewhite;
    margin: 24px 48px;
    text-align: center;
}

#img1 {
    width: 100px;
    border: 10px solid pink;
    margin: 48px 24px;
    align-items: start;
}

#img2 {
    width: 90px;
    border: 10px solid pink;
    margin: 48px 24px;
    align-items: center;
}

#img3 {
    width: 100px;
    border: 10px solid pink;
    margin: 48px 24px;
    align-items: end;
}