* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: Winky Rough;
}

.winky-rough {
  font-family: "Winky Rough", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

#navbar {
    background: linear-gradient(to bottom, lightgrey, white, lightgrey);
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

#navbar a {
    display: inline-block;
    text-decoration: none;
    color: red;
    padding: 24px;
}

#navbar a:hover {
    background: linear-gradient(to top, white, lightgrey, white);
}

#navbar #logo {
    margin-right: auto;
    font-weight: bold;
    font-size: 36px;
    padding-top: 13px;
    padding-bottom: 12px;
}

#hero1 {
    background: url(../images/Photo-Nov-14-2023-11-15-24-AM.webp);
    display: flex;
    justify-content: center;
    align-content: center;
    background-size: cover;
    background-position: center center;
    height: 80vw;
    position: relative;
}

#hero1 h2 {
    font-size: 46px;
    position: absolute;
    left: 15%;
    top: 10%;
    color: white;
}

#hero2 {
    background: url(../images/declan-sun-JyEN9_hn2Go-unsplash.jpg);
    display: flex;
    justify-content: center;
    align-content: center;
    background-size: cover;
    background-position: center 80%;
    height: 40vw;
    position: relative;
}

#hero2 a {
    font-size: 24px;
    font-weight: bold;
    display: inline-block;
    background-color: white;
    color: red;
    text-decoration: none;
    padding: 24px;
    position: absolute;
    bottom: 60%;
}

#centered-column {
    width: 100vw;
    max-width: 800px;
    margin: 48px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.card {
    width: 350px;
    border: 2px solid red;
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
    text-align: center;
    box-shadow: -1px 1px 12px red;
    background: radial-gradient(
        at center, 
        white, 
        lightgrey
    );
    display: flex;
    flex-direction: column;
}

.card img {
    width: 100%;
    height: 225px;
    object-fit: cover;
}

.card h2 {
    margin-top: 12px;
    font-size: 36px;
    color: red;
    margin-bottom: 0px;
}

.card p {
    font-size: 18px;
    color: black;
    flex: 1;
}

.card a {
    color: red;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    background-color: white;
    padding: 10px;
    /* can also be use display block for same effect */
    display: inline-block;
    width: 100%;
    text-align: center;
    border: 3px solid darkgrey;
    transition: 
        background-color 0.5s,
        color 0.5s;
    display: flex;
    flex-direction: column;
}

.card a:hover {
    background-color: transparent;
    color: palevioletred;
}

.title h2 {
    color: red;
    font-size: 40px;
    display: flex;
    justify-content: center;
    text-decoration: underline;
}

@media screen and (max-width: 490px) {
    body {
        background: white;
    }
    #navbar {
        flex-direction: column;
        align-items: center;
    }
    #logo {
        align-content: center;
    }
    #navbar #logo {
        margin-right: 0px;
    }
    #hero2 {
        position: relative;
    }
    #hero2 a {
    font-size: 24px;
    font-weight: bold;
    display: inline-block;
    background-color: white;
    margin: -10px;
    color: red;
    text-decoration: none;
    padding: 10px;
    position: absolute;
    }
    #menu, #centered-column {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}